
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
}
    <div class="container">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#CreateModal">
            建立產品
        </button>
        <h1>產品種類</h1>
        <div role="alert" id="CreateResult"></div>
        <div class="container">
            <table id="CategoriesTable">
                <thead>
                    <tr>
                        <th>CategoryID</th>
                        <th>CategoryName</th>
                        <th>Description</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="Data"></tbody>
            </table>
        </div>

        <!--產品種類詳細Modal對話框-->
        <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="DetailModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DetailModalLabel">產品種類詳細</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="Detaildd" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--刪除產品種類Modal對話框-->
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="DeleteModalLabel">產品種類詳細</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="Deletedd" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--新增產品種類Modal對話框-->
        <div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="CreateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateModalLabel">建立產品種類</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="Create" class="modal-body">
                        <table>
                            <thead>
                                <tr>
                                    <th>種類名稱</th>
                                    <th>描述</th>
                                    <th>圖片</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="text-box single-line" type="text" id="CreateCName" /></td>
                                    <td><input class="text-box single-line" type="text" id="CDescription" /></td>
                                    <td><img id="CreateimgPreview" src="" style="width:320px;height:240px" /><input id="CreateFile1" name="CreateFile1" type="file" accept="image/*" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="CreateData" type="button" class="btn btn-secondary" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--編輯產品種類Modal對話框-->
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditModalLabel">編輯產品種類</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="Edit" class="modal-body">
                        <table>
                            <thead>
                                <tr>
                                    <th hidden="hidden">種類ID</th>
                                    <th>種類名稱</th>
                                    <th>描述</th>
                                    <th>圖片</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td hidden="hidden"><input hidden="hidden" class="text-box single-line" type="text" id="EditCID" /></td>
                                    <td><input class="text-box single-line" type="text" id="EditCName" /></td>
                                    <td><input class="text-box single-line" type="text" id="EDescription" /></td>
                                    <td><img id="EditimgPreview" src="" style="width:320px;height:240px" /><input id="EditFile1" name="EditFile1" type="file" accept="image/*" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="EditData" class="btn btn-secondary" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
@section Scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            GetIndex();
        })

        $("#CreateFile1").change(function () {
             readURL(this, $('#CreateimgPreview'));
        });

        $("#EditFile1").change(function () {
            readURL(this, $('#EditimgPreview'));
        });

        function readURL(input, img) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    img.attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        function GetIndex() {
            $('#Data').empty();
            $.get('http://localhost:1831/api/Categories', function (datas) {
                var frag = $(document.createDocumentFragment());
                $.each(datas, function (idx, category) {
                    var cell1 = $('<td></td>').text(category.CategoryID);
                    var cell2 = $('<td></td>').text(category.CategoryName);
                    var cell3 = $('<td></td>').text(category.Description);
                    //詳細鈕
                    var btnDetail = '<button type = "button" id = "Detail" class= "btn btn-primary" name = "' + category.CategoryID + '" onclick="BtnDetail()" data-toggle="modal" data-target="#DetailModal">詳細</button>';
                    //編輯鈕
                    var btnEdit = '<button type = "button" id = "Detail" class= "btn btn-warning" name = "' + category.CategoryID + '" onclick="BtnEdit()" data-toggle="modal" data-target="#EditModal">編輯</button>'
                    //刪除鈕
                    var btnDelete = '<button type = "button" id = "Detail" class= "btn btn-warning" name = "' + category.CategoryID + '" onclick="BtnDelete()" data-toggle="modal" data-target="#DeleteModal">刪除</button>'

                    var cell4 = $('<td></td>').append(btnDetail + ' | ' + btnEdit + ' | ' + btnDelete);
                    var row = $('<tr></tr>').append([cell1, cell2, cell3, cell4]);
                    frag.append(row);
                })
                $('#Data').append(frag);
                $("#CategoriesTable").DataTable();
            });
        }

        //編輯鈕(類似詳細)function
        function BtnEdit() {
            $.ajax({
                url: 'http://localhost:1831/api/Categories/' + this.event.target.name,
                type: "GET",
                data: 'json',
                contentType: "application/json"
            }).done(function (category) {
                console.log(category);
                $('#EditCID').val(category.CategoryID);
                $('#EditCName').val(category.CategoryName);
                $('#EDescription').val(category.Description);
                $('#EditimgPreview').attr('src', 'data:image/png;base64,' + category.Picture);
            }).fail(function (err) {
                console.log(err);
            });
        }
        //編輯送出鈕
        $('#EditData').click(function () {
            var ECatroryID = $('#EditCID').val();
            var ECategoryName = $('#EditCName').val();
            var EDescription = $('#EDescription').val();
            var Editbinary = document.getElementById('EditimgPreview').src;

            $.ajax({
                type: "PUT",
                url: 'http://localhost:1831/api/Categories/' + ECatroryID,
                data: { CategoryID: ECatroryID, CategoryName: ECategoryName, Description: EDescription, Picture: Editbinary } //{ CategoryName: CCategoryName, Description: CDescription, Picture: binary }
                //contentType: "application/json"
            }).done(function (result) {
                $('#CreateResult').removeClass('alert alert-success');
                $('#CreateResult').empty();
                $('#EditCID').val('');
                $('#EditCName').val('');
                $('#EDescription').val('');
                $('#File1').empty();
                //$('CreateimgPreview').attr('src', '');
                $('#CreateResult').addClass('alert alert-success');
                $('#CreateResult').text("建立完成");

                GetIndex();
            }).fail(function (err) {
                console.log(err.responseJSON.Message);
            });
        })

        //詳細鈕function
        function BtnDetail() {
            $.ajax({
                url: 'http://localhost:1831/api/Categories/' + this.event.target.name,
                type: "GET",
                data: 'json',
                contentType: "application/json"
                }).done(function (category) {
                $('#Detaildd').empty("");
                console.log(category);
                var frag = $(document.createDocumentFragment());
                //$.each(response, function (idx,category) {
                    var dt1 = $('<dt></dt>').text('CategoryID');
                    var dd1 = $('<dd></dd>').text(category.CategoryID);
                    var dt2 = $('<dt></dt>').text('CategoryName');
                    var dd2 = $('<dd></dd>').text(category.CategoryName);
                    var dt3 = $('<dt></dt>').text('Description');
                    var dd3 = $('<dd></dd>').text(category.Description);
                    var dtImg = $('<dt></dt>').text('Image');

                    var ddImg = $('<dd></dd>').append('<img src="data:image/png;base64,' + category.Picture + '" style="width:320px;height:240px" />');
                
                    var dl = $('<dl></dl>').append([dt1, dd1, dt2, dd2, dt3, dd3, dtImg, ddImg]);
                    frag.append(dl);
                //})
                $('#Detaildd').append(frag);

                }).fail(function (err) {
                    console.log(err);
            });
        }

        //新建鈕function
        $('#CreateData').click(function () {
            var CCategoryName = $('#CreateCName').val();
            var CDescription = $('#CDescription').val();
            var binary = document.getElementById('CreateimgPreview').src;

            $.ajax({
                type: "POST",
                url: 'http://localhost:1831/api/Categories/',
                data: { CategoryName: CCategoryName, Description: CDescription, Picture: binary } //{ CategoryName: CCategoryName, Description: CDescription, Picture: binary }
                //contentType: "application/json"
            }).done(function (result) {
                $('#CreateResult').removeClass('alert alert-success');
                $('#CreateResult').text('');
                $('#CreateCName').val('');
                $('#CDescription').val('');
                $('#File1').empty();
                //$('CreateimgPreview').attr('src', '');
                $('#CreateResult').addClass('alert alert-success');
                $('#CreateResult').text("建立完成");

                GetIndex();
                }).fail(function (err) {
                    console.log(err.responseJSON.Message);
            });
        })

        /*
        $(function () {
            $("#CategoriesTable").DataTable();
        })*/
    </script>
}